# Python
*.pyc
__pycache__/
*.pyo
*.pyd
*.env
*.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
media

# Node
node_modules/
npm-debug.log
yarn-error.log

# Vue.js
dist/

# VS Code
.vscode/

# Django Static and Media Files
staticfiles/
media/

# Environment Variables
.env

# macOS
.DS_Store

# JetBrains
.idea/