# Python bytecode
__pycache__/
*.py[cod]

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db

# macOS:
.DS_Store

# virtual environments:
venv/
env/

# VS Code:
.vscode/

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Vue.js build output
cities/frontend/dist/

# Local environment variables
.env