<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>UNESCO Go-Seek</title>
    {% load static %}
    <link
      rel="stylesheet"
      href="{% static 'css/chunk-vendors.03593e29.css' %}"
    />
    <link rel="stylesheet" href="{% static 'css/app.f6ef8b59.css' %}" />
  </head>
  <body>
    <div id="app"></div>
    <script src="{% static 'js/chunk-vendors.e12bb4b1.js' %}"></script>
    <script src="{% static 'js/app.30ef5109.js' %}"></script>
  </body>
</html>
